{% extends 'form.html' %}
{% from 'macros.html' import render_field %}

{% block title %}Anmelden{% endblock %}

{% block form %}
<form class="uk-form-stacked" method="POST">
    {{ render_field(form.username, class='uk-input') }}
    {{ render_field(form.password, class='uk-input') }}
    {{ form.csrf_token }}
    <input type="submit" class="uk-button uk-button-default" value="Anmelden">
</form>
<a class="uk-button uk-button-default uk-margin-top" href="{{ url_for('auth.reset_password') }}">Passwort zurücksetzen</a>
{% endblock %}
