<!DOCTYPE html>
<html lang="de">
<head>
    <title>Infomail für Anlass {{event.name}}</title>
</head>
<body>
    <p>
        Hallo {{ user.get_fullname() }}
        <br>
        Du bist
        {% if participant %}
            {% if participant.is_invited() %}
                eingeladen
            {% elif participant.is_registred() %}
                angemeldet
            {% elif participant.is_unregistered() %}
                abgemeldet
            {% endif %}
            für folgenen Anlass.
            <a href="{{ url_for('participation.edit', id=participation.id, _external=true) }}">Teilnahmestatus ändern</a>
        {% else %}
        Zuschauer des folgenden Anlasses.
        {% endif %}
    </p>
    <p>
        Anmeldeschluss: {{ event.deadline | longdatetime }}
    </p>
    <hr>
    <p>
        {{ annotation }}
    </p>
    <hr>
    <h1>{{event.name}}</h1>
    <p>{{event.abstract }}</p>
    <p>{{event.description | markdown }}</p>
    <dl>
        <dt>Treffpunkt</dt>
        <dd>{{ event.location }}</dd>
        <dt>Wann</dt>
        <dd>{{ event.print_duration() }}</dd>
        <dt>Ausrüstung</dt>
        <dd>{{ event.equipment }}</dd>
        <dt>Kosten</dt>
        <dd>{{ event.cost }} Fr.</dd>
    </dl>
</body>
</html>
