{% extends 'layout.html' %}
{% from 'macros.html' import render_pagination, render_sort, render_search, text2html %}

{% block title %}
    Events
{% endblock %}

{% block content %}
<form method="GET">
    {% for event in upcoming_events %}
        <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
            <div class="{{loop.cycle('uk-card-media-left', 'uk-flex-last@s uk-card-media-right')}} uk-cover-container">
                <img src="/static/upload/event/{{event.id}}/thumbnail_128x128_v{{event.thumbnail_version}}.png" alt="" uk-cover>
                <canvas width="600" height="400"></canvas>
            </div>
            <div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">
                        <a href="/event/view/{{event.id}}">{{event.name}}</a> 

                        {% if g.user and g.user.role >= MANAGER %}
                            <a href="/event/edit/{{event.id}}" uk-icon="icon: pencil"></a>
                        {% endif %}
                    </h3>
                    <div class="uk-panel uk-panel-box">
                        {{text2html(event.abstract)}}
                    </div>
                    {% if g.user %}
                        {% for group in event.groups %}
                            <!-- <span class="uk-badge">{{group.name}}</span> -->
                            <div class="uk-button-group">
                                <button class="uk-button uk-button-default">
                                    {{group.name}}
                                    {% if group in memberships %}
                                        {% if memberships[group].role == MEMBER %}
                                            <span class="uk-badge">Mitglied</span>
                                        {% elif memberships[group].role == SPECTATOR %}
                                            <span class="uk-badge">Zuschauer</span>
                                        {% endif %}
                                    {% endif %}
                                </button>
                                <div class="uk-inline">
                                    <button class="uk-button uk-button-default" type="button"><span uk-icon="icon:  triangle-down"></span></button>
                                    <div uk-dropdown="mode: click; boundary: ! .uk-button-group; boundary-align: true;">
                                        <ul class="uk-nav uk-dropdown-nav">
                                            {% if group not in memberships %}
                                                <li class="uk-nav-header">Dein Status: Kein Mitglied</li>
                                                <li class="uk-nav-divider"></li>
                                                <li><a href="/group/join/{{group.id}}">Gruppe beitreten</a></li>
                                                <li><a href="/group/watch/{{group.id}}">Gruppe beobachten</a></li>
                                            {% elif memberships[group].role == MEMBER %}
                                                <li class="uk-nav-header">Dein Status: Mitglied</li>
                                                <li class="uk-nav-divider"></li>
                                                <li><a href="/group/watch/{{group.id}}">Gruppe beobachten</a></li>
                                                <li><a href="/group/leave/{{group.id}}">Austreten</a></li>
                                            {% elif memberships[group].role == SPECTATOR %}
                                                <li class="uk-nav-header">Dein Status: Zuschauer</li>
                                                <li class="uk-nav-divider"></li>
                                                <li><a href="/group/join/{{group.id}}">Gruppe beitreten</a></li>
                                                <li><a href="/group/leave/{{group.id}}">Austreten</a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</form>
{% endblock %}
