{% extends 'dashboard/layout.html' %}
{% from 'macros.html' import render_pagination, render_event_date with context %}

{% block title %}
    Nächstens
{% endblock %}

{% block dashboard %}
    {% if pagination.items %}
    <div uk-grid>
        {% for event in pagination.items %}
        <div>
            <div uk-grid>
                <div class="uk-width-auto">
                    {{ render_event_date(event) }}
                </div>
                <div class="uk-width-expand">
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-header">
                            <h3 class="uk-card-title uk-margin-remove">{{ event.name }}</h3>
                            <div class="uk-text-muted">
                                <span uk-icon="users"></span>
                                <div class="uk-inline">
                                    <ul class="uk-subnav uk-margin-remove">
                                        {% for group in event.groups %}
                                            <li><a href="{{ url_for('group.view', slug=group.slug) }}">{{ group.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="uk-text-muted"><span class="uk-margin-right" uk-icon="calendar"></span> {{ event.print_start_end() }}</div>
                            <div class="uk-text-muted"><span class="uk-margin-right" uk-icon="location"></span> {{ event.location }}</div>
                        </div>
                        <div class="uk-card-body">
                            <div>{{ event.abstract }}</div>
                        </div>
                        <div class="uk-card-footer">
                            <ul class="uk-subnav">
                                <li><a href="{{ url_for('event.view', id=event.id) }}">Ansehen</a></li>
                                {% if g.user.can_manage() %}
                                <li><a href="{{ url_for('participant.list', id=event.id) }}">Teilnehmerliste</a></li>
                                {% endif %}
                                {% with participant = find(participants, 'event_id', event.id) %}
                                {% if participant %}
                                    <li>
                                        {% if participant.no_reply() %}
                                        Du hast noch nicht auf die Einladung geantwortet.
                                        {% elif participant.accepted_reply() %}
                                        Du nimmst teil, hast {{ participant.num_friends }} Freunde angemeldet und {{participant.num_car_seats }} Autoplätze angeboten.
                                        {% elif participant.declind_reply() %}
                                        Du nimmst nicht teil.
                                        {% endif %}
                                        <a href="{{ url_for('participant.edit', id=participant.id) }}">Antwort bearbeiten</a>
                                    </li>
                                {% else %}
                                    <li><span>Einladung noch nicht verschickt.</span></li>
                                {% endif %}
                                {% endwith %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="uk-text-center uk-text-large uk-margin">
        <p class="uk-text-muted">Keine Anlässe gefunden.</p>
        <a class="uk-button uk-button-text" href="{{ url_for('group.groups') }}">Trete neuen Gruppen bei</a>
    </div>
    {% endif %}
    {{ render_pagination(pagination, 'dashboard.upcoming')}}
{% endblock %}
