{% extends 'layout.html' %}
{% from 'macros.html' import render_field %}

{% block title %}Registrierung abschliessen{% endblock %}

{% block content %}
<div>
    <b>Lege ein Passwort fest, um die Registrierung abzuschliessen.</b>
</div>
<form class="uk-form-stacked" method="POST">
    {{ render_field(form.username, class='uk-input', readonly=True) }}
    {{ render_field(form.password, class='uk-input') }}
    {{ render_field(form.password_confirm, class='uk-input') }}
    {{ form.csrf_token }}
    <input type="submit" class="uk-button uk-button-default" value="Registrierung abschliessen">
</form>
{% endblock %}
