{% extends 'form.html' %}
{% from 'macros.html' import render_field %}

{% block title %}Einladung - {{invitation.name}}{% endblock %}

{% block form %}
<form class="uk-form-stacked" method="POST">
    {{ render_field(form.reply, class='uk-input') }}
    {{ render_field(form.num_friends, class='uk-input') }}
    {{ render_field(form.num_car_seats, class='uk-input') }}

    {{ form.csrf_token }}

    <input type="submit" class="uk-button uk-button-default" value="Speichern">
</form>
{% endblock %}
