{% extends 'form.html' %}
{% from 'macros.html' import render_field %}

{% block title %}Neue E-Mail Adresse{% endblock %}

{% block form %}
<form class="uk-form-stacked" method="POST">
    {{ render_field(form.old_email, class='uk-input', readonly=True) }}
    {{ render_field(form.new_email, class='uk-input') }}

    {{ form.csrf_token }}
    <input type="submit" class="uk-button uk-button-default" value="Neue E-Mail Speichern">
</form>
<a class="uk-button uk-button-default uk-margin-top" href="{{ url_for('dashboard.account') }}">Zurück</a>
{% endblock %}
