{% extends 'form.html' %}
{% from 'macros.html' import render_field %}

{% block title %}Passwort ändern{% endblock %}

{% block form %}
<form class="uk-form-stacked" method="POST">
    {{ render_field(form.old_password, class='uk-input') }}
    {{ render_field(form.new_password, class='uk-input') }}
    {{ render_field(form.confirm_new_password, class='uk-input') }}

    {{ form.csrf_token }}
    <input type="submit" class="uk-button uk-button-default" value="Passwort ändern">
</form>
<a class="uk-button uk-button-default uk-margin-top" href="{{ url_for('dashboard.account') }}">Abbrechen</a>
{% endblock %}
