{% extends 'layout.html' %}
{% from 'macros.html' import render_field, render_image_field, render_user_avatar, render_group_logo, render_hero with context %}

{% block title %}{{ event.name }}{% endblock %}

{% block attrs %}class="uk-background-cover" data-src="{{ event.get_background_url() }}" uk-img{% endblock %}

{% block hero %}
    {% set content %}
    <div class="uk-text-center">
        <h1>{{ event.name }}</h1>

        <div class="uk-text-lead">
            {{ event.print_start_end() }}
        </div>

        <p>{{ event.abstract }}</p>

        {% if participant %}
        <hr>
        <div class="uk-tile uk-tile-default">
            Einladung: {{ participant.get_reply_label() }}
            <a class="uk-button uk-button-default uk-button-small uk-margin-small-left" href="{{ url_for('participant.edit', id=participant.edit) }}">Ändern</a>
        </div>
        {% endif %}
        <hr>
        <a class="uk-margin-top uk-icon-button" href="#details" uk-scroll uk-icon="chevron-down"></a>
    </div>
    {% endset %}
    {{ render_hero(content, event.get_background_url())}}
{% endblock %}

{% block top %}
<div id="details" class="uk-section uk-section-secondary">
    <div class="uk-container uk-container-xsmall">
        {{ event.details | markdown }}
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="uk-flex-center" uk-grid>
        <div>
            <div class="uk-card uk-card-default">
                <div class="uk-card-header">
                    <h3 class="uk-card-title">Gruppen</h3>
                </div>
                <div class="uk-card-body">
                    <div class="uk-grid-small uk-flex-center" uk-grid>
                        {% for group in event.groups %}
                        {{ render_group_logo(group, resolution=48) }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default">
                <div class="uk-card-header">
                    <h3 class="uk-card-title">Leiter</h3>
                </div>
                <div class="uk-card-body">
                    <div class="uk-grid-small uk-flex-center" uk-grid>
                        {% for leader in leaders %}
                        {{ render_user_avatar(leader, resolution=48) }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% if participants %}
        <div>
            <div class="uk-card uk-card-default">
                <div class="uk-card-header">
                    <h3 class="uk-card-title">Teilnehmer</h3>
                </div>
                <div class="uk-card-body">
                    {% if participants %}
                    <div class="uk-grid-small uk-child-width-1-2 uk-child-width-1-1@m uk-child-width-1-2@l" uk-grid>
                    {% for participant in participants %}
                        <div>
                            {{ render_user_avatar(participant, resolution=64) }}
                        </div>
                    {% endfor %}
                    </div>
                    {% else %}
                    <div class="uk-text-center uk-margin">
                        <h3 class="uk-text-muted">Keine Teilnehmer</h3>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}


