{% extends 'layout.html' %}
{% from 'macros.html' import render_field, render_image_field, render_user_avatar, render_group_logo, text2html with context %}

{% block title %}{{ event.name }}{% endblock %}

{% block attrs %}class="uk-background-cover" data-src="{{ event.get_background_url() }}" uk-img{% endblock %}

{% block hero %}
    <div class="uk-flex uk-flex-center uk-flex-middle" uk-height-viewport="offset-top: true">
        <div class="uk-width-1-2 uk-overlay uk-overlay-default uk-flex-middle uk-text-center">
            <h1 class="uk-heading-line uk-heading-medium"><span>{{ event.name }}</span></h1>
            <div class="uk-text-lead">
                {{ event.print_start_end() }}
            </div>
            <dl class="uk-description-list uk-description-list-divider">
                <dt class="uk-margin-small">Leiter</dt>
                <dd>
                    <div class="uk-grid-small uk-flex-center" uk-grid>
                        {% for user in event.get_leaders() %}
                        {{ render_user_avatar(user, resolution=48) }}
                        {% endfor %}
                    </div>
                </dd>
                <dt class="uk-margin-small">Gruppen</dt>
                <dd>
                    <div class="uk-grid-small uk-flex-center" uk-grid>
                        {% for group in event.groups %}
                        {{ render_group_logo(group, resolution=48) }}
                        {% endfor %}
                    </div>
                </dd>
                {% if invitation %}
                <dt class="uk-margin-small">
                    Einladung
                </dt>
                <dd>
                    {% if invitation.no_reply() %}
                        Noch keine Antwort. Annehmen oder Ablehnen?
                    {% elif invitation.accepted_reply() %}
                        Angenommen. Noch ablehnen?
                    {% elif invitation.declined_reply() %}
                        Abgelehnt. Dennoch anmelden?
                    {% endif %}
                </dd>
                {% endif %}
            </dl>
            <p>{{ event.abstract }}</p>
            <a class="uk-margin-top uk-icon-button" href="#details" uk-scroll uk-icon="chevron-down"></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="details">
        <h3 class="uk-card-title">Details</h3>
        <p>
            {{ event.details | if_not('Keine Details vorhanden.') }}
        </p>
        <div class="uk-card uk-card-default">
            <div class="uk-card-header">
                <h3 class="uk-card-title">Einladungen</h3>
            </div>
            <div class="uk-card-body">
                {% if event.invitations %}
                <div class="uk-grid-small uk-child-width-1-2 uk-child-width-1-1@m uk-child-width-1-2@l" uk-grid>
                {% for invitation in event.invitations %}
                    <div>
                        {{ render_user_avatar(invitation.user, resolution=64) }}
                    </div>
                {% endfor %}
                </div>
                {% else %}
                <div class="uk-text-center uk-margin">
                    <h3 class="uk-text-muted">Keine Einladungen vorhanden</h3>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


