{% extends 'layout.html' %}
{% from 'macros.html' import render_pagination, render_sort %}

{% block title %}
    Events
{% endblock %}

{% block content %}
<form method="GET">
    <div class="uk-margin" uk-grid>
        <div>
            <h2>Events</h2>
        </div>
        <div class="uk-width-expand">
            <div class="uk-search uk-search-default uk-width-medium">
                <button uk-search-icon></button>
                <input class="uk-search-input" type="search" placeholder="Search ..." name="search">
            </div>
        </div>
        <div>
            <a href="{{ url_for('event.create') }}" class="uk-button uk-button-default">Hinzufügen</a>
        </div>
    </div>
    {% if pagination.items %}
    <table class="uk-table uk-table-small uk-table-hover uk-table-divider uk-table-middle">
        <thead>
            <tr>
                <th class="uk-table-shrink uk-text-nowrap">{{ render_sort('Name', 'name', args)}}</th>
                <th>Beschreibung</th>
                <th>Standort</th>
                <th class="uk-table-shrink uk-text-nowrap">{{ render_sort('Start', 'start', args)}}</th>
                <th class="uk-table-shrink">Ende</th>
                <th class="uk-table-shrink uk-text-nowrap">{{ render_sort('Deadline', 'deadline', args)}}</th>
                <th class="uk-table-shrink uk-text-nowrap">{{ render_sort('Geändert', 'modified', args)}}</th>
                <th class="uk-table-shrink">Aktion</th>
            </tr>
        </thead>
        <tbody>
            {% for event in pagination.items %}
            <tr>
                <td class="uk-table-shrink uk-text-nowrap">{{ event.name }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.location }}</td>
                <td class="uk-table-shrink">{{ event.start.strftime('%d.%m.%y %H:%M') }}</td>
                <td class="uk-table-shrink">{{ event.end.strftime('%d.%m.%y %H:%M') }}</td>
                <td class="uk-table-shrink">{{ event.deadline.strftime('%d.%m.%y %H:%M') }}</td>
                <td class="uk-table-shrink">{{ event.modified.strftime('%d.%m.%y %H:%M') }}</td>
                <td class="uk-table-shrink uk-text-nowrap">
                    <a href="{{ url_for('event.edit', id=event.id) }}" uk-icon="pencil"></a>
                    <a class="uk-margin-small-left" href="{{ url_for('event.delete', id=event.id) }}" uk-icon="trash"></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ render_pagination(pagination, 'event.list', args) }}
    {% else %}
    <div class="uk-text-center uk-margin">
        <h3 class="uk-text-muted">Keine Events gefunden</h3>
    </div>
    {% endif %}
</form>
{% endblock %}
