{% extends 'layout.html' %}

{% block title %}
    Events
{% endblock %}

{% block content %}
    <div class="uk-flex uk-flex-between uk-flex-middle">
        <h2>Events</h2>
        <a href="{{ url_for('event.edit') }}" class="uk-button uk-button-default">Hinzufügen</a>
    </div>
    {% if events %}
    <table class="uk-table uk-table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Beschreibung</th>
                <th>Start</th>
<!--                <th>Ende</th>-->
                <th>Einladungen</th>
                <th>Aktion</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
            <tr>
                <td>{{ event.name }}</td>
                <td class="uk-text-truncate">{{ event.description }}</td>
                <td>{{ event.start.astimezone(tz).strftime('%d.%m.%y %H:%M') }}</td>
                <td>{{ event.end.astimezone(tz).strftime('%d.%m.%y %H:%M') }}</td>
                <td>
                    <a href="{{ url_for('event.list_participants', event_id=event.id) }}" uk-icon="users"></a>
                    <a class="uk-margin-small-left" href="{{ url_for('event.edit', id=event.id) }}" uk-icon="pencil"></a>
                    <a class="uk-margin-small-left" href="{{ url_for('event.delete', id=event.id) }}" uk-icon="trash"></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="uk-text-center uk-margin">
        <h3 class="uk-text-muted">Keine Events gefunden</h3>
    </div>
    {% endif %}
{% endblock %}
