{% extends 'layout.html' %}
{% from 'macros.html' import render_pagination, render_order, render_filter, render_search, render_event_date with context%}

{% block title %}
    Anlässe
{% endblock %}

{% block content %}
<form method="GET">
    <div class="uk-margin" uk-grid>
        <div class="uk-width-expand@s">
            {{ render_search(args) }}
        </div>
        <div>
            <a href="{{ url_for('event.create') }}" class="uk-button uk-button-primary">Hinzufügen</a>
        </div>
    </div>
    <input name="page" value="{{ pagination.page }}" hidden>
    <div class="uk-overflow-auto">
        <table class="uk-table uk-table-small uk-table-hover uk-table-striped uk-table-middle">
            <thead>
                <tr>
                    <th class="uk-visible@m"></th>
                    <th>{{ render_order('Name', 'name', args)}}</th>
                    <th class="uk-visible@m">Kurzinfo</th>
                    <th>Standort</th>
                    <th>{{ render_order('Start', 'start', args)}}</th>
                    <th class="uk-visible@s">Ende</th>
                    <th>{{ render_order('Deadline', 'deadline', args)}}</th>
                    <th class="uk-visible@m">{{ render_order('Geändert', 'modified', args)}}</th>
                    <th>{{ render_filter('Gruppen', 'group', GroupChoices, args)}}</th>
                    <th>Aktion</th>
                </tr>
            </thead>
            <tbody>
                {% for event in pagination.items %}
                <tr>
                    <td class="uk-visible@m">
                        {{ render_event_date(event) }}
                    </td>
                    <td>{{ event.name }}</td>
                    <td class="uk-visible@m">{{ event.abstract | markdown }}</td>
                    <td>{{ event.location }}</td>
                    <td>{{ event.start.astimezone(tz).strftime('%d.%m.%y %H:%M') }}</td>
                    <td class="uk-visible@s">{{ event.end.astimezone(tz).strftime('%d.%m.%y %H:%M') }}</td>
                    <td>{{ event.deadline.astimezone(tz).strftime('%d.%m.%y %H:%M') }}</td>
                    <td class="uk-visible@m">{{ event.modified.astimezone(tz).strftime('%d.%m.%y %H:%M') }}</td>
                    <td>
                        <ul class="uk-subnav">
                            {% for group in event.groups %}
                                <li>
                                    <a class="uk-link" href="{{ url_for('group.view', slug=group.slug) }}" target="_blank">{{ group.name }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </td>
                    <td>
                        <ul class="uk-iconnav" uk-margin>
                            <li><a uk-tooltip="Einladungen" href="{{ url_for('event.invitations', id=event.id) }}" uk-icon="mail"></a></li>
                            <li><a uk-tooltip="Bearbeiten" href="{{ url_for('event.edit', id=event.id) }}" uk-icon="pencil"></a></li>
                            <li><a uk-tooltip="Kopieren" href="{{ url_for('event.copy', id=event.id) }}" uk-icon="copy"></a></li>
                            <li><a uk-tooltip="Löschen" href="{{ url_for('event.delete', id=event.id) }}" uk-icon="trash"></a></li>
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if pagination.items %}
    {{ render_pagination(pagination, 'event.list', args) }}
    {% else %}
    <div class="uk-text-center uk-margin">
        <h3 class="uk-text-muted">Keine Events gefunden</h3>
    </div>
    {% endif %}
</form>
{% endblock %}
