{% extends 'layout.html' %}

{% block title %}
    Events
{% endblock %}

{% block content %}
    <div class="uk-flex uk-flex-between uk-flex-middle">
        <h2>Teilnehmerliste - {{event.name}} </h2>
    </div>
    <div>
        Es wurden noch keine Einladungen versendet.
    </div>
    <form class="uk-form-stacked" action="{{ url_for('event.send_invitations', id=event.id) }}" method="POST">
        <button class="uk-button uk-button-default uk-margin-top">Einladungen versenden</button>
    </form>
    <table class="uk-table uk-table-striped">
        <thead>
            <tr>
                <th>Vorname</th>
                <th>Nachname</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.first_name }}</td>
                <td>{{ user.family_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
