{% extends 'layout.html' %}
{% from 'macros.html' import render_pagination, render_event_date with context %}

{% block title %}Anstehende Anlässe{% endblock %}

{% block content %}
<div class="uk-child-width-1-1 uk-grid-divider" uk-grid>
    {% if pagination.items %}
    {% for event in pagination.items %}
    <div>
        <div uk-grid>
            <div>
                {{ render_event_date(event) }}
            </div>
            <div class="uk-width-expand">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <h3 class="uk-card-title uk-margin-remove">{{ event.name }}</h3>
                        <div class="uk-text-muted"><span uk-icon="calendar"></span> {{ event.print_duration() }}</div>
                        <div class="uk-text-muted"><span uk-icon="location"></span> {{ event.location }}</div>
                    </div>
                    <div class="uk-card-body">
                        <div>{{ event.abstract | markdown }}</div>
                    </div>
                    <div class="uk-card-footer">
                        <a class="uk-button uk-button-text" href="{{ url_for('event.view', id=event.id) }}">Ansehen</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="uk-text-center uk-margin">
        <h3 class="uk-text-muted">Keine Anlässe</h3>
    </div>
    {% endif %}
</div>
{{ render_pagination(pagination, 'event.upcoming') }}
{% endblock %}
