{% extends 'layout.html' %}
{% from 'macros.html' import render_user_avatar %}

{% block title %}
    Update
{% endblock %}

{% block content %}
    <form method="POST">
        <p>Upate bezüglich des Anlasses "{{ event.name }}" an aufgelistete Benutzer mit folgender Anmerkung verschicken.</p>
        <div>
            <label class="uk-form-label">Anmerkung</label>
            <div class="uk-form-controls">
                <textarea name="note" class="uk-textarea" rows="5" placeholder="Weise auf Änderung zur vorherigen Einladung hin ...">
                </textarea>
            </div>
        </div>
        <div class="uk-margin-large uk-child-width-1-6 uk-flex-center" uk-grid>
            {% for invitation in event.invitations %}
            <div>
                <div class="uk-flex uk-flex-center uk-margin-small-bottom">
                    {{ render_user_avatar(invitation.user, resolution=64) }}
                </div>
                <div class="uk-text-meta uk-text-center">
                    {{ invitation.user.get_fullname() }}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="uk-flex uk-flex-center">
            <a class="uk-button uk-button-default uk-margin-right" href="{{ url_back('event.invitations') }}">Zurück</a>
            <input class="uk-button uk-button-primary" type="submit" value="Versenden">
        </div>
    </form>
{% endblock %}

