{% extends 'layout.html' %}
{% from 'macros.html' import render_field %}

{% block title %}Einladung für {{ participant.event.name }}{% endblock %}

{% block content %}
<p>
    Die Anmeldefrist ist abgelaufen, die Angaben können nicht mehr geändert werden.
</p>
<p>
    <b>Angemeldet: </b>
    {% if participant.accepted %}
    Ja
    {% else %}
    Nein
    {% endif %}
    <br>
    <b>Anzahl Freunde: </b>{{participant.num_friends}}<br>
    <b>Anzahl Fahrplätze: </b>{{participant.num_car_seats}}<br>
</p>
{% endblock %}
