{% extends 'layout.html' %}
{% from 'macros.html' import render_field, render_image_field, render_document_field %}

{% block title %}Gruppe {{ 'bearbeiten' if group.id else 'erstellen' }}{% endblock %}

{% block head %}
{{ simplemde.css }}
{{ simplemde.js }}
{% endblock %}

{% block content %}
<form class="uk-form-stacked" method="POST" enctype="multipart/form-data">
    <div class="uk-grid-divider" uk-grid>
        <div class="uk-width-1-1">
            <div uk-grid>
                <div class="uk-width-expand@s">
                    {% if group.id %}
                    <h3 class="uk-heading-bullet">
                        <a class="uk-link-heading" href="{{ url_for('group.view', slug=group.slug) }}" target="_blank">{{ group.name }}</a>
                    </h3>
                    {% endif %}
                </div>
                <div>
                    <a class="uk-button uk-button-default uk-margin-right" href="{{ url_back('group.list') }}">Zurück</a>
                    <input type="submit" class="uk-button uk-button-primary" value="Speichern">
                </div>
            </div>
        </div>
        <div class="uk-width-2-3@m">
            <div class="uk-child-width-1-2@m" uk-grid>
                <div>
                    {{ render_field(form.name, class='uk-input', placeholder='Name der Gruppe ...') }}
                </div>
                <div>
                    {{ render_field(form.slug, class='uk-input') }}
                </div>
            </div>
            {{ render_field(form.abstract, class='uk-textarea uk-margin', rows=10, placeholder="Kurzinfo ...") }}
            {{ render_field(form.details, class='uk-textarea uk-margin', rows=10, placeholder="Details ...") }}
        </div>
        <div class="uk-width-1-3@m">
            {{ render_image_field(form.logo, group.get_logo_url(), "image/png") }}
            {{ render_image_field(form.background, group.get_background_url(), "image/jpeg") }}
            {{ render_document_field(form.flyer, group.get_flyer_url(), "application/pdf") }}
        </div>
    </div>
    {{ form.csrf_token }}
</form>

{{ simplemde.load_id("abstract") }}
{{ simplemde.load_id("details") }}
{% endblock %}
