{% extends 'layout.html' %}
{% from 'macros.html' import render_field, render_image_field, render_event_date, render_user_avatar %}

{% block title %}{{ group.name }}{% endblock %}$

{% block attrs %}class="uk-background-cover" data-src="{{ url_for('static', filename='background.jpeg') }}" uk-img{% endblock %}

{% block hero %}
    <div class="uk-flex uk-flex-center uk-flex-middle" uk-height-viewport="offset-top: true">
        <div class="uk-overlay uk-overlay-default uk-flex-middle uk-text-center">
            {% if group.logo %}
                <img class="uk-width-small" data-src="{{ url_for('static', filename=group.logo) }}" uk-img>
            {% endif %}
            <h1>{{ group.name }}</h1>
            <div>{{ group.description }}</div>
            <div>
                {% if g.user %}
                    {% with membership = group.get_membership_of_authenticated_user() %}
                    {% if membership %}
                        {% if membership.role == membership.Role.SPECTATOR %}
                            <a class="uk-button uk-button-text" href="{{ url_for('group.join', id=group.id) }}">Werde Teilnehmer</a>
                        {% elif membership.role == membership.Role.MEMBER %}
                            <a class="uk-button uk-button-text" href="{{ url_for('group.watch', id=group.id) }}">Werde Zuschauer</a>
                        {% elif membership.role == membership.Role.LEADER %}
                            <span>Du bist Leiter.</span>
                        {% endif %}
                        <a class="uk-button uk-button-text uk-margin-left" href="{{ url_for('group.leave', id=group.id) }}">Austreten</a>
                    {% else %}
                        <a class="uk-button uk-button-text" href="{{ url_for('group.join', id=group.id) }}">Werde Mitglied</a>
                    {% endif %}
                    {% endwith %}
                {% endif %}
            </div>
            <a class="uk-margin-top uk-icon-button" href="#details" uk-scroll uk-icon="chevron-down"></a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="details">
        <div class="uk-child-width-1-2@m" uk-grid>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <h3 class="uk-card-title">Nächstens</h3>
                    </div>
                    <div class="uk-card-body">
                        {% with upcoming = group.get_upcoming_events() %}
                        {% if upcoming %}
                        <div class="uk-grid-small" uk-grid>
                        {% for event in upcoming %}
                            <div>
                                <div class="uk-flex uk-flex-middle uk-grid-small" uk-grid>
                                    <div class="uk-width-auto">
                                        {{ render_event_date(event) }}
                                    </div>
                                    <div class="uk-width-expand">
                                        <h4 class="uk-margin-remove">{{ event.name }}</h4>
                                        <div class="uk-text-muted">
                                            {{ event.print_start_end() }}
                                        </div>
                                        <a class="uk-button uk-button-text" href="{{ url_for('event.view', id=event.id) }}">Ansehen</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                        {% else %}
                        <div class="uk-text-center uk-margin">
                            <h3 class="uk-text-muted">Keine Anlässe</h3>
                        </div>
                        {% endif %}
                        {% endwith %}
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <h3 class="uk-card-title">Mitglieder</h3>
                    </div>
                    <div class="uk-card-body">
                        {% with members = group.get_members_ordered_by_role() %}
                        {% if members %}
                        <div class="uk-grid-small uk-child-width-1-3@s uk-child-width-1-2@m uk-child-width-1-4@l" uk-grid>
                        {% for member in members %}
                            <div>
                                <div class="uk-inline" uk-tooltip="title: {{ member.user.first_name }} {{ member.user.family_name }}; pos: bottom-right">
                                    {{ render_user_avatar(member.user, class='uk-margin-remove') }}
                                    <div class="uk-position-absolute" style="right: -5px; bottom: -5px;">
                                        {% if member.role == member.Role.SPECTATOR %}
                                            <span class="uk-icon-button" uk-icon="icon: bell"></span>
                                        {% elif member.role == member.Role.MEMBER %}
                                            <span class="uk-icon-button" uk-icon="icon: user"></span>
                                        {% elif member.role == member.Role.LEADER %}
                                            <span class="uk-icon-button" uk-icon="icon: bolt"></span>
                                        {% endif %}
                                    </div>
                                    <a class="uk-link-reset uk-position-cover" href="{{ url_for('user.view', id=member.user_id) }}"></a>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                        {% else %}
                        <div class="uk-text-center uk-margin">
                            <h3 class="uk-text-muted">Keine Mitglieder</h3>
                        </div>
                        {% endif %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

