{% extends 'layout.html' %}
{% from 'macros.html' import render_pagination, render_group_logo %}

{% block title %}Gruppen{% endblock %}

{% block content %}
<div class="uk-child-width-1-1 uk-grid-divider" uk-grid>
    {% if pagination.items %}
    {% for group in pagination.items %}
    <div>
        <div uk-grid>
            <div class="uk-width-auto">
                {{ render_group_logo(group) }}
            </div>
            <div class="uk-width-expand">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <h3 class="uk-card-title uk-margin-remove">{{ group.name }}</h3>
                    </div>
                    <div class="uk-card-body">
                        <div>{{ group.abstract }}</div>
                    </div>
                    <div class="uk-card-footer uk-flex uk-flex-middle uk-flex-between">
                        <a class="uk-button uk-button-text" href="{{ url_for('group.view', slug=group.slug) }}">Ansehen</a>
                    </div>
                </div>
            </div>
    </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="uk-text-center uk-margin">
        <h3 class="uk-text-muted">Keine Gruppen</h3>
    </div>
    {% endif %}
</div>
{{ render_pagination(pagination, 'group.groups') }}
{% endblock %}
