{% extends 'layout.html' %}
{% from 'macros.html' import render_pagination, render_group_logo, render_manage_group_nav %}

{% block title %}Gruppen{% endblock %}

{% block head %}
<style>
    @media (max-width: 640px) {
        .background-height {
            height: 300px
        }
    }
</style>
{%  endblock %}

{% block content %}

<div class="uk-text-center">
    <h1 class="uk-margin-remove uk-heading-medium">Gruppen</h1>
    <hr class="uk-margin-large uk-divider-small">
</div>

{% if pagination.items %}
<div class="uk-child-width-1-1@s uk-grid-large" uk-grid>
    {% for group in pagination.items %}
    <div class="uk-width-3-4@m">
        <div class="uk-card uk-card-default uk-grid-collapse" uk-grid>
            <div class="uk-width-1-2@s uk-width-2-5@m {{'uk-card-media-left' if loop.index % 2 == 0 else 'uk-card-media-right uk-flex-last@s' }}">
                <div class="background-height uk-position-relative uk-background-cover uk-height-1-1" data-src="{{ group.get_background_url(width=1366) }}" uk-img style="">
                    <div class="uk-background-default uk-position-small {{'uk-position-top-right' if loop.index % 2 == 0 else 'uk-position-top-left uk-flex-last@s' }}">
                        <div class="uk-padding-small">
                            {{ render_group_logo(group) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-2@s uk-width-3-5@m">
                <div class="uk-card-header">
                    <h2>{{ group.name }}</h2>
                </div>
                <div class="uk-card-body">
                    {{ group.abstract | markdown }}
                </div>
                <div class="uk-card-footer uk-flex uk-flex-middle uk-flex-between">
                    <a class="uk-button uk-button-text" href="{{ url_for('group.view', slug=group.slug) }}">Ansehen</a>
                    {% if group.flyer_version %}
                    <a class="uk-button uk-button-text" href="{{ group.get_flyer_url() }}">Flyer</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="uk-visible@m uk-width-1-4"></div>
    <div class="uk-visible@m uk-width-1-4"></div>
    {% endfor %}
    {% else %}
    <div class="uk-text-center uk-margin">
        <h3 class="uk-text-muted">Keine Gruppen</h3>
    </div>
    {% endif %}
</div>
{{ render_pagination(pagination, 'group.groups') }}
{% endblock %}
