{% extends 'layout.html' %}
{% from 'macros.html' import render_field, render_image_field, render_event_date, render_user_avatar, render_groupmember_actions with context %}
{% block title %}{{ group.name }}{% endblock %}
{% block logo %}
<div class="uk-navbar-item uk-logo">
    <img class="uk-logo" data-src="{{ group.get_logo_url(resolution=64) }}" uk-img>
</div>
{% endblock %}

{% block attrs %}class="uk-background-cover" data-src="{{ group.get_background_url() }}" uk-img{% endblock %}

{% block hero %}
<div class="uk-position-relative" uk-height-viewport="offset-top: true">
    <div class="uk-position-large uk-position-cover uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle uk-flex-column">
        <h1>{{ group.name }}</h1>
        <div>{{ group.abstract | if_not('Keine Kurzinfo') | markdown }}</div>
        {% if g.user %}
        <div class="uk-flex-center uk-flex-middle uk-margin" uk-grid>
            {{ render_groupmember_actions(membership, group) }}
        </div>
        {% endif %}
        <div class="uk-margin">
            <a class="uk-icon-button" href="#details" uk-scroll uk-icon="chevron-down"></a>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div id="details">
        <div class="uk-child-width-1-2@m" uk-grid>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <h3 class="uk-card-title">Details</h3>
                    </div>
                    <div class="uk-card-body">
                        {{ group.details | if_not("Nicht vorhanden.") | markdown }}
                    </div>
                    {% if group.flyer_version %}
                    <div class="uk-card-footer">
                        <span uk-icon="icon: file-pdf"></span><a href="{{ group.get_flyer_url() }}" class="uk-margin-small-left uk-button uk-button-text" target="_blank">Flyer öffnen</a>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <h3 class="uk-card-title">Nächstens</h3>
                    </div>
                    <div class="uk-card-body">
                        {% if upcoming %}
                        <div class="uk-grid-small" uk-grid>
                        {% for event in upcoming %}
                            <div>
                                <div class="uk-flex uk-flex-middle uk-grid-small" uk-grid>
                                    <div class="uk-width-auto">
                                        {{ render_event_date(event) }}
                                    </div>
                                    <div class="uk-width-expand">
                                        <h4 class="uk-margin-remove">{{ event.name }}</h4>
                                        <div class="uk-text-muted">
                                            {{ event.print_start_end() }}
                                        </div>
                                        <a class="uk-button uk-button-text" href="{{ url_for('event.view', id=event.id) }}">Ansehen</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                        {% else %}
                            Keine anstehenden Anlässe
                        {% endif %}
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <h3 class="uk-card-title">Mitglieder</h3>
                    </div>
                    <div class="uk-card-body">
                        {% if members %}
                        <div class="uk-grid-small uk-child-width-1-4 uk-child-width-1-6@s uk-child-width-1-4@m uk-child-width-1-5@l uk-child-width-1-6@xl" uk-grid>
                        {% for member in members %}
                            <div>
                                <div class="uk-inline" uk-tooltip="title: {{ member.user.first_name }} {{ member.user.family_name }}; pos: bottom-right">
                                    {{ render_user_avatar(member.user, resolution=64) }}
                                    <div class="uk-position-absolute" style="right: -5px; bottom: -5px;">
                                        {% if member.role == member.Role.SPECTATOR %}
                                            <span class="uk-icon-button" uk-icon="icon: bell"></span>
                                        {% elif member.role == member.Role.MEMBER %}
                                            <span class="uk-icon-button" uk-icon="icon: user"></span>
                                        {% elif member.role == member.Role.LEADER %}
                                            <span class="uk-icon-button" uk-icon="icon: bolt"></span>
                                        {% endif %}
                                    </div>
                                    <a class="uk-link-reset uk-position-cover" href="{{ url_for('user.view', username=member.user.username) }}"></a>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                        {% else %}
                            Keine Mitglieder
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

