{% extends 'layout.html' %}
{% from 'macros.html' import render_pagination, render_sort, render_search %}

{% block title %}
    Gruppen
{% endblock %}

{% block content %}
<form id="form" method="GET">
        <div class="uk-margin" uk-grid>
            <div>
                <h2>Gruppen</h2>
            </div>
            <div class="uk-width-expand">
                {{ render_search(args) }}
            </div>
            <div>
                <a href="{{ url_for('group.create') }}" class="uk-button uk-button-default">Hinzufügen</a>
            </div>
        </div>
    {% if pagination.items %}
        <input name="page" value="{{ pagination.page }}" hidden>
    <table class="uk-table uk-table-striped">
        <thead>
            <tr>
                <th></th>
                <th>{{ render_sort('Name', 'name', args) }}</th>
                <th>Beschreibung</th>
                <th>{{ render_sort('Geändert', 'modified', args) }}</th>
                <th>Aktion</th>
            </tr>
        </thead>
        <tbody>
            {% for group in pagination.items %}
            <tr>
                <td>
                    <object data="/static/upload/group/{{group.id}}/logo_32x32.png" type="image/png">
                        <img src="/static/upload_fallback/group/logo_32x32.png">
                    </object>
                </td>
                <td>{{ group.name }}</td>
                <td>{{ group.description }}</td>
                <td>{{ group.modified.strftime('%d.%m.%y %H:%M') }}</td>
                <td>
                    <a href="{{ url_for('group.edit', id=group.id) }}" uk-icon="pencil"></a>
                    <a class="uk-margin-small-left" href="{{ url_for('group.delete', id=group.id) }}" uk-icon="trash"></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ render_pagination(pagination, 'group.list', args) }}
    {% else %}
    <div class="uk-text-center uk-margin">
        <h3 class="uk-text-muted">Keine Gruppen gefunden</h3>
    </div>
    {% endif %}
</form>
{% endblock %}
