{% extends 'layout.html' %}
{% from 'macros.html' import render_pagination, render_order, render_search, render_group_logo %}

{% block title %}
    Gruppen
{% endblock %}

{% block content %}
<form id="form" method="GET">
    <div class="uk-margin" uk-grid>
        <div class="uk-width-expand@s">
            {{ render_search(args) }}
        </div>
        {% if g.user.is_admin() %}
        <div>
            <a href="{{ url_for('group.create') }}" class="uk-button uk-button-primary">Hinzufügen</a>
        </div>
        {% endif %}
    </div>
    <input name="page" value="{{ pagination.page }}" hidden>
    <table class="uk-table uk-table-small uk-table-hover uk-table-striped uk-table-middle">
        <thead>
            <tr>
                <th></th>
                <th>{{ render_order('Name', 'name', args) }}</th>
                <th>Kurzinfo</th>
                <th>{{ render_order('Geändert', 'modified', args) }}</th>
                <th>Aktion</th>
            </tr>
        </thead>
        <tbody>
            {% for group in pagination.items %}
            <tr>
                <td> {{ render_group_logo(group) }}</td>
                <td>{{ group.name }}</td>
                <td class="uk-table-expand">{{ group.abstract | markdown }}</td>
                <td>{{ group.modified.astimezone(tz).strftime('%d.%m.%y %H:%M') }}</td>
                <td>
                    <ul class="uk-iconnav">
                        <li><a uk-tooltip="Mitglieder" href="{{ url_for('group.members', id=group.id) }}" uk-icon="users"></a></li>
                        <li><a uk-tooltip="Ansicht" href="{{ url_for('group.view', slug=group.slug) }}" target="_blank" uk-icon="link"></a></li>
                        <li><a uk-tooltip="Bearbeiten" href="{{ url_for('group.edit', id=group.id) }}" uk-icon="pencil"></a></li>
                        {% if g.user.is_admin() %}
                        <li><a uk-tooltip="Löschen" href="{{ url_for('group.delete', id=group.id) }}" onclick="return confirm('Bist du dir sicher?')" uk-icon="trash"></a></li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if pagination.items %}
    {{ render_pagination(pagination, 'group.list', args) }}
    {% else %}
    <div class="uk-text-center uk-margin">
        <h3 class="uk-text-muted">Keine Gruppen gefunden</h3>
    </div>
    {% endif %}
</form>
{% endblock %}
