{% extends 'layout.html' %}
{% from 'macros.html' import render_user_avatar %}

{% block title %}
    Einladen
{% endblock %}

{% block content %}
    <div class="uk-text-center">
        <h2>
            Einladen für Anlass
            <a class="uk-link-toggle" href="{{ url_for('event.view', id=event.id) }}">
                <span class="uk-link-heading">{{ event.name }}</span>
            </a>
        </h2>
        An Benutzer in
        {{ 'den Gruppen' if event.groups|length > 1 else 'der Gruppe' }}
        {% for group in event.groups %}
            <a class="uk-link-toggle" href="{{ url_for('group.view', slug=group.slug) }}">
                <span class="uk-link-heading">{{ group.name }}</span>
            </a>
            {% if not loop.last %}
                {% if loop.revindex > 1 %}
                    ,
                {% else %}
                    und
                {% endif %}
            {% endif %}
        {% endfor %}
        , welche noch keine Einladung erhalten haben, wird eine Mail versendet.
    </div>
    {% if users %}
    <form method="POST">
        {{ form.csrf_token }}
        <div class="uk-margin">
            {{ form.annotation(class='uk-textarea', rows=5, placeholder='Anmerkung') }}
        </div>
        <div class="uk-margin-large uk-child-width-1-6 uk-flex-center" uk-grid>
            {% for user in users %}
            <div>
                <div class="uk-flex uk-flex-center uk-margin-small-bottom">
                    {{ render_user_avatar(user, resolution=64) }}
                </div>
                <div class="uk-text-meta uk-text-center">
                    {{ user.get_fullname() }}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="uk-flex uk-flex-center">
            <a class="uk-button uk-button-default uk-margin-right" href="{{ url_back('event.list') }}">Zurück</a>
            <input class="uk-button uk-button-primary" type="submit" value="Versenden">
        </div>
    </form>
    {% else %}
    <div class="uk-text-center uk-margin">
        <h3 class="uk-text-muted">Keine Benutzer gefunden.</h3>
    </div>
    {% endif %}
{% endblock %}
