<!DOCTYPE html>
<html lang="de">
<head>
    <title>Einladung zum Anlass - {{invitation.event.name}}</title>
</head>
<body>
    <p>
        Hallo {{invitation.user.first_name}},
        du bist zu folgendem Anlass eingeladen:
    </p>
    <hr>
    <h1>{{invitation.event.name}}</h1>
    <p>{{invitation.event.abstract | markdown }}</p>
    <p>{{invitation.event.description | markdown }}</p>
    <dl>
        <dt>Treffpunkt</dt>
        <dd>{{invitation.event.location}}</dd>
        <dt>Wann</dt>
        <dd>{{pretty_format_date(invitation.event.start)}}</dd>
        <dt>Ausrüstung</dt>
        <dd>{{invitation.event.equipment}}</dd>
        <dt>Kosten</dt>
        <dd>{{invitation.event.cost}} Fr.</dd>
    </dl>
    <p>
        Öffne folgenden Link im Browser, um die Einladung anzunehmen: {{token_url}}<br>
        Noch nicht sicher? Kein Problem, du kannst dich ja trotzdem vorläufig anmelden.
        Es ist jederzeit möglich, dich über denselben Link wieder abzumelden, bis am {{pretty_format_date(invitation.event.deadline)}}.
    </p>
</body>
</html>
