<!DOCTYPE html>

<head>
    <title>{% block title %}Title{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.7/css/uikit.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.7/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.7/js/uikit-icons.min.js"></script>
    {% include 'message_flashing.html' %}
</head>

<body>
    <div id="offcanvas" uk-offcanvas="mode: push; overlay: true">
        <div class="uk-offcanvas-bar">
            <button class="uk-offcanvas-close" type="button" uk-close></button>
            <ul class="uk-nav uk-nav-primary">
                <li class="uk-nav-header">Seiten</li>
                {% include 'menu-public.html' %}
                <li class="uk-nav-header">Benutzer</li>
                {% include 'menu-account.html' %}
                <li class="uk-nav-header">Verwalten</li>
                {% include 'menu-manage.html' %}
            </ul>
        </div>
    </div>

    <div {% block attrs %}{% endblock %}>

        <div class="uk-hidden@s uk-navbar-container uk-navbar-transparent" uk-navbar>
            <div class="uk-navbar-left">
                <a class="uk-navbar-toggle" uk-navbar-toggle-icon uk-toggle href="#offcanvas"></a>
            </div>
            <div class="uk-navbar-center">
                {% block logo %}<a class="uk-navbar-item uk-logo" href="#">E-T</a>{% endblock %}
            </div>
        </div>

        <div class="uk-visible@s uk-navbar-container uk-navbar-transparent">
            <div class="uk-container">
                <nav uk-navbar>
                    <div class="uk-navbar-left">
                        <ul class="uk-navbar-nav">
                            {% include 'menu-public.html' %}
                        </ul>
                    </div>
                    <div class="uk-navbar-center">
                        {{ self.logo() }}
                    </div>
                    <div class="uk-navbar-right">
                        <ul class="uk-navbar-nav">
                            {% include 'menu-account.html' %}
                        </ul>
                        <ul class="uk-navbar-nav">
                            {% include 'menu-manage.html' %}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        {% block hero %}
            <div class="uk-margin uk-text-center">
                <h1>{{ self.title() }}</h1>
            </div>
        {% endblock %}
    </div>
    <div class="uk-section uk-section-default">
        <div class="uk-container">
            {% block content %}Content{% endblock %}
        </div>
    </div>
</body>
