<!DOCTYPE html>

<head>
    <title>{% block title %}Title{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.7/css/uikit.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.7/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.7/js/uikit-icons.min.js"></script>
</head>

<body>
    <div class="uk-container">
        <div class="uk-flex-center uk-flex-middle" uk-grid uk-height-viewport="expand: true">
            <div class="uk-width-1-2@s uk-width-1-3@m uk-width-1-4@l">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                       <div uk-alert>
                            <a class="uk-alert-close" uk-close></a>
                            <p>{{ message }}</p>
                        </div>
                       {% endfor %}
                    {% endif %}
                 {% endwith %}
                {% block content %}Content{% endblock %}
            </div>
        </div>
    </div>
</body>
