{% macro render_field_errors(field) %}
{% if field.errors %}
<div class="uk-alert-danger" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    {%- for error in field.errors %}
      <p>{{ error }}</p>
    {%- endfor %}
</div>
{% endif %}
{% endmacro %}

{% macro render_field(field) %}
<div class="uk-margin">
    {{ field.label(class_='uk-form-label') }}
    <div class="uk-form-controls">
        {{ field(**kwargs)|safe }}
        {{ render_field_errors(field) }}
    </div>
</div>
{% endmacro %}

{% macro render_file_field(field) %}
<div class="uk-margin">
  <div class="uk-inline uk-width-1-1" uk-form-custom="target: true">
      {{ field(**kwargs)|safe }}
      <input class="uk-input" type="text" placeholder="Datei auswählen" disabled>
      <span class="uk-form-icon uk-form-icon-flip" href="#" uk-icon="icon: folder"></span>
  </div>
</div>
{% endmacro %}

{% macro render_image_field(field) %}
<div class="uk-margin">
    {{ field.label(class_='uk-form-label') }}
    <div class="uk-form-controls">
        {% if field.data %}
        <div data-src="{{ url_for('static', filename=field.data) }}" uk-img class="uk-flex uk-flex-middle uk-flex-center uk-height-medium uk-placeholder uk-background-contain">

        </div>
        {% endif %}
        {{ render_file_field(field) }}
        {{ render_field_errors(field) }}
    </div>
</div>
{% endmacro %}

{% macro render_pagination(pagination, endpoint, params, position='center') %}
  {% if pagination.pages > 1 %}
    <ul class="uk-pagination uk-flex-{{position}}">
    {% if pagination.has_prev %}
      <li><a href="{{ url_for(endpoint, page=pagination.prev_num, **params) }}"><span uk-pagination-previous></span></a></li>
    {% endif %}
    {%- for page in pagination.iter_pages() %}
      {% if page %}
        {% if page != pagination.page %}
          <li><a href="{{ url_for(endpoint, page=page, **params) }}">{{ page }}</a></li>
        {% else %}
          <li class="uk-active"><span>{{ page }}</span></li>
        {% endif %}
      {% else %}
        <li class="uk-disabled"><span>...</span></li>
      {% endif %}
    {%- endfor %}
    {% if pagination.has_next %}
      <li><a href="{{ url_for(endpoint, page=pagination.next_num, **params) }}"><span uk-pagination-next></span></a></li>
    {% endif %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro render_sort(label, name, args) %}
  <div uk-form-custom>
      <select name="sort.{{ name }}" onchange="this.form.submit()">
        <option {% if not args['sort.'+name] %}selected{% endif %} value="">Entfernen</option>
        <option {% if args['sort.'+name] == 'asc' %}selected{% endif %} value="asc">Aufsteigend</option>
        <option {% if args['sort.'+name] == 'desc' %}selected{% endif %} value="desc">Absteigend</option>
      </select>
      <div>
        {{ label }}
        {% if args['sort.'+name] == 'asc' %}
          <span uk-icon="icon: arrow-up"></span>
        {% elif args['sort.'+name] == 'desc' %}
          <span uk-icon="icon: arrow-down"></span>
        {% endif %}
      </div>
  </div>
{% endmacro %}
