{% macro render_field(field) %}
<div class="uk-margin">
    {{ field.label(class_='uk-form-label') }}
    <div class="uk-form-controls">
        {{ field(**kwargs)|safe }}
        {% if field.errors %}
        <div class="uk-alert-danger" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            {%- for error in field.errors %}
              <p>{{ error }}</p>
            {%- endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endmacro %}

{% macro render_pagination(pagination, endpoint, params) %}
  <ul class="uk-pagination">
  {% if pagination.has_prev %}
    <li><a href="{{ url_for(endpoint, page=pagination.prev_num, **params) }}"><span uk-pagination-previous></span></a></li>
  {% endif %}
  {%- for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
        <li><a href="{{ url_for(endpoint, page=page, **params) }}">{{ page }}</a></li>
      {% else %}
        <li class="uk-active"><span>{{ page }}</span></li>
      {% endif %}
    {% else %}
      <li class="uk-disabled"><span>...</span></li>
    {% endif %}
  {%- endfor %}
  {% if pagination.has_next %}
    <li><a href="{{ url_for(endpoint, page=pagination.next_num, **params) }}"><span uk-pagination-next></span></a></li>
  {% endif %}
  </ul>
{% endmacro %}

{% macro render_sort(label, name, sort) %}
  <div uk-form-custom>
      <select name="{{ name }}" onchange="this.form.submit()">
        <option {% if not sort[name] %}selected{% endif %} value="">Entfernen</option>
        <option {% if sort[name] == 'asc' %}selected{% endif %} value="asc">Aufsteigend</option>
        <option {% if sort[name] == 'desc' %}selected{% endif %} value="desc">Absteigend</option>
      </select>
      <div>
        {{ label }}
        {% if sort[name] == 'asc' %}
          <span uk-icon="icon: arrow-up"></span>
        {% elif sort[name] == 'desc' %}
          <span uk-icon="icon: arrow-down"></span>
        {% endif %}
      </div>
  </div>
{% endmacro %}
